<div class="dispatcher-drivers-css">

    <div class="dispatcher-hero-image">
        <app-hero-image [title]="title"></app-hero-image>
    </div>

    <div class="example-container dispatcher mat-elevation-z8">


        <mat-table [dataSource]="dataSource" matSort>
      

          <!-- driverName Column -->
          <ng-container matColumnDef="driverName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="driverName"> {{row.firstName}} {{row.lastName}} </mat-cell>
          </ng-container>
      
          <!-- dateOfBirth Column -->
          <ng-container matColumnDef="dateOfBirth">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Birth </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="dateOfBirth"> {{row.dateOfBirth}} </mat-cell>
          </ng-container>
      
    
            <!-- emailid Column -->
            <ng-container matColumnDef="emailid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="emailid"> {{row.email}} </mat-cell>
            </ng-container>
    
            <!-- phonenumber Column -->
            <ng-container matColumnDef="phNum">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="phonenumber"> {{row.phNum}} </mat-cell>
            </ng-container>        
    
            <!-- address Column -->
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="address"> {{row.address}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="actions">     
                <mat-icon (click)="openDeleteDailog(deleteDriverFormDailog,row)">delete</mat-icon> 
              </mat-cell>
          </ng-container>
       
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
</div>

<ng-template #deleteDriverFormDailog>
  <h1 mat-dialog-title>Delete Car </h1>
  <div class="delete-content">
  Are you sure want to delete the Driver <b>{{selectDriver.firstName}} {{selectDriver.lastName}}</b>?.
  </div>
  <div mat-dialog-content>
          <div mat-dialog-actions class="delete-dailog-actions">
              <div class="no-css">
                  <button mat-raised-button (click)="cancelDailog()">Cancel</button>
              </div>
              <div class="yes-css">
                  <button mat-raised-button class="confirm-css" color="accent" (click)="deleteDriverDetails()">Delete</button>
             
             </div>
              
            </div>

  </div>
</ng-template>
