.roles-css{

    .add-roles-form{
        margin-bottom: 25px;
        .mat-mdc-card-header{
            margin-bottom: 10px;
        }
        .dailog-actions{
            float: right;
            margin-top:10px;
            @media (min-width:768px) {
                display: flex;
            }
            @media (max-width:768px) {
                width:100%
            }
            .default-back-css{
                @media (min-width:768px){
                    margin-right:10px;
                }
            }
            .submit-css{
                @media (min-width:768px){
                    margin-left:10px;
                }
                .mat-mdc-raised-button:not(:disabled) {
                    background-color: rgb(218, 218, 32);
                } 
            }

            .mdc-button{
                padding:25px;
                @media (max-width:768px){
                    min-width:100%;
                    margin-bottom:10px;
                }
            }
        }
    }

    .mat-mdc-form-field {
        min-width:100%
    }

    .mat-column-delete{
        @media (min-width:768px) {
            text-align: right;
            justify-content: flex-end;   
        }
        .mat-mdc-raised-button{
            margin-right:10px;
        }
    }

    
}
