<div class="roles-css">
    <div class="hero-image">
        <app-hero-image [title]="title"></app-hero-image>
    </div>

    <div class="add-roles-form">
        <mat-card *ngIf="isAdd">
            <mat-card-header>
              <mat-card-title>Add Role</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="addRole">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                    <mat-form-field >
                        <input matInput placeholder="Role" maxlength="50" formControlName="roleName" required>
                        <mat-hint align="start">Add Role</mat-hint>
                        <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint>
                          <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                        <!-- </mat-error> -->
                      </mat-form-field>
                    </div>

                    <div class="col-sm-12 col-md-6">

                            <mat-form-field class="col-sm-12 col-md-6">
                                <input matInput maxlength="256" placeholder="Role Descrition" formControlName="roleDescription" required>
                                <mat-hint align="start">Add role descrition</mat-hint>
                                <mat-hint align="end">{{addRole.controls['roleDescription'].value.length}} / 256</mat-hint>
                                <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                                <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                                </mat-error> -->
                            </mat-form-field>
                    </div>
                    </div>
              
              
                   
              
                </form>
                <div class="dailog-actions">
                    <div><button mat-raised-button (click)="reset()">Reset</button></div>
                    <div class="submit-css">
                    <button mat-raised-button color="accent" (click)="saveRole()">Submit</button>
                </div>
                </div>
            </mat-card-content>
          </mat-card>


          <mat-card *ngIf="!isAdd">
            <mat-card-header>
              <mat-card-title>Edit Role</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="editRole">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                    <mat-form-field >
                        <input matInput placeholder="Role" maxlength="50" formControlName="roleName" required>
                        <mat-hint align="start">Edit Role</mat-hint>
                        <mat-hint align="end">{{editRole.controls['roleName'].value.length}} / 50</mat-hint>
                          <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                        <!-- </mat-error> -->
                      </mat-form-field>
                    </div>

                    <div class="col-sm-12 col-md-6">

                            <mat-form-field class="col-sm-12 col-md-6">
                                <input matInput maxlength="256" placeholder="Role Descrition" formControlName="roleDescription" required>
                                <mat-hint align="start">Edit role descrition</mat-hint>
                                <mat-hint align="end">{{editRole.controls['roleDescription'].value.length}} / 256</mat-hint>
                                <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                                <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                                </mat-error> -->
                            </mat-form-field>
                    </div>
                    </div>
              
              
                   
              
                </form>
                <div class="dailog-actions">
                    <div class="default-back-css">
                        <button mat-raised-button (click)="enableAddForm()">Back</button>
                    </div>
                    <div><button mat-raised-button (click)="resetEditInfo()">Reset</button></div>
                    <div class="submit-css">
                    <button mat-raised-button color="accent" (click)="editRoleForm()">Update</button>
                </div>

                </div>
            </mat-card-content>
          </mat-card>
    </div>


    <div class="example-container dispatcher mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>
     
          <!-- Role Column -->
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="role"> {{row.roleName}} </mat-cell>
          </ng-container>
      
          <!-- Descrition Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="description"> {{row.roleDescription}} </mat-cell>
          </ng-container>
      
      
            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="delete">
                    <button mat-raised-button class="mr-10" (click)="openDeleteDailog(deletetemplate,row)">Delete</button>
                    <button mat-raised-button color="primary" (click)="enableEditForm(row)">Edit</button>
                     </mat-cell>
            </ng-container>
    
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      


</div>


<ng-template #deletetemplate>
    <h1 mat-dialog-title>Delete Role </h1>
<div mat-dialog-content>
  <p>Are you sure want to Delete Role <b>{{selectedDeleteRoleInfo.roleName}}</b></p>
</div>
<div mat-dialog-actions class="delete-dailog-actions">
    <div class="no-css">
        <button mat-raised-button mat-dialog-close>NO</button>
    </div>
    <div class="yes-css">
        <button mat-raised-button class="confirm-css" color="accent" (click)="confirmDelete()">YES</button>
    </div>
</div>
</ng-template>