<div class="dispatcher-scheduler-css">

    <div class="dispatcher-hero-image">
        <app-hero-image [title]="dispatcherName"></app-hero-image>
    </div>

    <div class="example-container dispatcher mat-elevation-z8">


        <mat-table [dataSource]="dataSource" matSort>
      

          <!-- user_name Column -->
          <ng-container matColumnDef="user_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="user_name"> {{row.user_name}}</mat-cell>
          </ng-container>
      
          <!-- user_phnum Column -->
          <ng-container matColumnDef="user_phnum">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="user_phnum"> {{row.user_phnum}} </mat-cell>
          </ng-container>
      
    
            <!-- email Column -->
            <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="email"> {{row.email}} </mat-cell>
            </ng-container>
    
            <!-- drop_Date Column -->
            <ng-container matColumnDef="drop_Date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="drop_Date"> {{row.drop_date}} </mat-cell>
            </ng-container>        
    
            <!-- driver_name Column -->
            <ng-container matColumnDef="driver_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="driver_name"> {{row.driver_name}} </mat-cell>
            </ng-container>         
       

            <!-- driver_phnum Column -->
            <ng-container matColumnDef="driver_phnum">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Phopne Number </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="driver_phnum"> {{row.driver_phnum}} </mat-cell>
            </ng-container>        

            <!-- car_registered_id Column -->
            <ng-container matColumnDef="car_registered_id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Car Registration Id  </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="car_registered_id"> {{row.car_registered_id}} </mat-cell>
            </ng-container>         

            <!-- fromAddress Column -->
            <ng-container matColumnDef="fromAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> From Address </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="fromAddress"> {{row.fromAddress}} </mat-cell>
            </ng-container>        

            <!-- toAddress Column -->
            <ng-container matColumnDef="toAddress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Car Registration Id  </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="toAddress"> {{row.toAddress}} </mat-cell>
            </ng-container>         
            
            <!-- payment_total Column -->
            <ng-container matColumnDef="payment_total">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fair </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="payment_total"> {{row.payment_total.toFixed(0)}} </mat-cell>
            </ng-container>        

            <!-- status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status  </mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="status"> {{row.status}} </mat-cell>
            </ng-container>         
            

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
</div>