
.dispatcher-search-drivers{

    
.mat-mdc-form-field {
    display: flex;
}

.buttons-list{
    display: flex;
    .delete-dailog-actions{
        margin-top:10px;
    }
}

.icon-button-container{
    float: right;
    margin-top: -45px;
}

.dispatcher-drivers-custom-css{
    margin-top:50px;
}

}