<div class="add-register-css">
    <div class="hero-image">
        <app-hero-image [title]="title"></app-hero-image>
    </div>

    <div class="register-add-form">
        <mat-card>
            <mat-card-header>
              <mat-card-title *ngIf="!isEditRegister">Add Register</mat-card-title>
              <mat-card-title *ngIf="isEditRegister">Edit Register</mat-card-title>

            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="register" *ngIf="!isEditRegister">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="First Name" maxlength="50" formControlName="firstName" required>
                                <mat-hint align="start">Add First Name</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Last Name" maxlength="50" formControlName="lastName" required>
                                <mat-hint align="start">Add Last Name</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Email Id" maxlength="25" formControlName="email" required>
                                <mat-hint align="start">Add Email Id</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Phone Number" maxlength="10" formControlName="phoneNumber" required>
                                <mat-hint align="start">Add Phone Number</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                        <mat-form-field>
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role_id" required>
                              <mat-option>None</mat-option>
                              <mat-option *ngFor="let role of rolesData" [value]="role">{{role.roleDescription}} - {{role.roleCode}}</mat-option>
                            </mat-select>
                            <mat-hint align="start">Add Role</mat-hint>
                          </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Reason" maxlength="256" formControlName="reason" required>
                                <mat-hint align="start">Add Reason</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Address" maxlength="256" formControlName="address" required>
                                <mat-hint align="start">Add Address</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                  </div>
              
              
                   
              
                </form>

                <form [formGroup]="editRegister" *ngIf="isEditRegister">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="First Name" maxlength="50" formControlName="firstName" required>
                                <mat-hint align="start">Edit First Name</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Last Name" maxlength="50" formControlName="lastName" required>
                                <mat-hint align="start">Edit Last Name</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Email Id" maxlength="25" formControlName="email" required>
                                <mat-hint align="start">Edit Email Id</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Phone Number" maxlength="10" formControlName="phoneNumber" required>
                                <mat-hint align="start">Edit Phone Number</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Reason" maxlength="256" formControlName="reason" required>
                                <mat-hint align="start">Edit Reason</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                        <div class="col-sm-12 col-md-6 margin-bottom_custom_css">
                            <mat-form-field >
                                <input matInput placeholder="Address" maxlength="256" formControlName="address" required>
                                <mat-hint align="start">Edit Address</mat-hint>
                                <!-- <mat-hint align="end">{{addRole.controls['roleName'].value.length}} / 50</mat-hint> -->
                                <!-- <mat-error class="error-message" *ngIf="userDetailsForm.get('roleName').hasError(validation.type) && (userDetailsForm.get('fullname').dirty || userDetailsForm.get('fullname').touched)">{{validation.message}}</mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>

                  </div>
              
              
                   
              
                </form>

                <div class="dailog-actions">
                    <div class="back-css"><button mat-raised-button (click)="navigateToRegister()">Back</button></div>
                    <div><button mat-raised-button>Reset</button></div>
                    <div class="submit-css">
                        <button mat-raised-button color="accent" (click)="submitRegister()" *ngIf="!isEditRegister">Submit</button>
                        <button mat-raised-button color="accent" (click)="updateRegister()" *ngIf="isEditRegister">Update</button>
                    </div>
                </div>
            </mat-card-content>
          </mat-card>

    </div>
</div>
