<div class="dispatcher-css">
   <div class="dispatcher-hero-image">
        <app-hero-image [title]="title"></app-hero-image>
    </div>

    <div class="add-button">
        <button mat-raised-button color="primary" (click)="openDispatcher(addDispatcherTemplate,'',false)">Add Dispacher</button>
    </div>

<div class="example-container dispatcher mat-elevation-z8">


    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="id"> {{row.cnt}} </mat-cell>
      </ng-container> -->

      <!-- FirstName Column -->
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="firstName"> {{row.firstName}} </mat-cell>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="lastname"> {{row.lastName}} </mat-cell>
      </ng-container>
  

        <!-- emailid Column -->
        <ng-container matColumnDef="emailid">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email Id </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="emailid"> {{row.email}} </mat-cell>
        </ng-container>

        <!-- phonenumber Column -->
        <ng-container matColumnDef="phonenumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="phonenumber"> {{row.phNum}} </mat-cell>
        </ng-container>        

        <!-- phonenumber Column -->
        <ng-container matColumnDef="regid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reg Id </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="regid"> {{row.disRegId}} </mat-cell>
        </ng-container>         

        <!-- phonenumber Column -->
        <ng-container matColumnDef="pincode">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pincode </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="pincode"> {{row.pincode}} </mat-cell>
        </ng-container>                 

        <!-- phonenumber Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="address"> {{row.address}} </mat-cell>
        </ng-container>

        <!-- phonenumber Column -->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="address"><mat-icon (click)="openDispatcher(addDispatcherTemplate,row,true)">edit</mat-icon> <mat-icon (click)="openDeleteDailog(deletetemplate,row)">delete</mat-icon></mat-cell>
        </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="dispatcherDashboard(row)">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
</div>



<ng-template #deletetemplate>
    <h1 mat-dialog-title>Delete Dispatcher </h1>
<div mat-dialog-content>
  <p>Are you sure want to Delete Dispatcher <b>{{selectedDispatcher.firstName}} {{selectedDispatcher.lastName}}</b></p>
</div>
<div mat-dialog-actions class="delete-dailog-actions">
    <div class="no-css">
        <button mat-raised-button mat-dialog-close>NO</button>
    </div>
    <div class="yes-css">
        <button mat-raised-button class="confirm-css" color="accent" (click)="confirmDelete()">YES</button>
    </div>
</div>
</ng-template>

<ng-template #addDispatcherTemplate>
  <h1 mat-dialog-title *ngIf="!isEdit">Add Dispatcher </h1>
  <h1 mat-dialog-title *ngIf="isEdit">Edit Dispatcher </h1>
        <div mat-dialog-content>
          <form [formGroup]="addDispatcherForm">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                  <mat-form-field >
                      <input matInput placeholder="First Name" maxlength="50" formControlName="firstName" required>
                      <mat-hint align="end">{{addDispatcherForm.controls['firstName'].value.length}} / 50</mat-hint>
                      <mat-error class="error-message" *ngIf="addDispatcherForm.controls['firstName'].errors">
                       <span *ngIf="addDispatcherForm.controls['firstName'].errors.required">
                        FirstName is Required</span></mat-error>
                    </mat-form-field>
                    <!-- <mat-error class="error-message" *ngIf="submitted && f.firstName.errors">
                      <span *ngIf="f.firstName.errors">FirstName is required</span>
                    </mat-error> -->
                  </div>

                  <div class="col-sm-12 col-md-6">
                          <mat-form-field class="col-sm-12 col-md-6">
                              <input matInput maxlength="50" placeholder="Last Name" formControlName="lastName" required>
                              <mat-hint align="end">{{addDispatcherForm.controls['lastName'].value.length}} / 50</mat-hint>
                              <!-- <mat-error class="error-message" *ngIf="addDispatcherForm.get('lastName').errors">
                                <span *ngIf="addDispatcherForm.get('lastName').errors.required">
                                 LastName is Required</span></mat-error> -->
<!-- 
                                 <mat-error>
                                  <span *ngFor="let error of addDispatcherForm.get('lastName').errors | keyvalue">
                                     {{error.key}}
                                </span>
                              </mat-error> -->
                              <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                              <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                              </mat-error> -->
                          </mat-form-field>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput maxlength="50" placeholder="Email Id" formControlName="email" required>
                        <mat-hint align="end">{{addDispatcherForm.controls['email'].value.length}} / 50</mat-hint>
                        <mat-error class="error-message" *ngIf="addDispatcherForm.controls['email'].errors">
                          <span *ngIf="addDispatcherForm.controls['email'].errors.required">
                           Email is Required</span></mat-error>
                        <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                        <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                        </mat-error> -->
                    </mat-form-field>
                  </div>
                  
                  <div class="col-sm-12 col-md-6">
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput  maxlength="10" placeholder="Phone Number" formControlName="phNum" required>
                        <mat-hint align="end">{{addDispatcherForm.controls['phNum'].value.length}} / 10</mat-hint>
                        <mat-error class="error-message" *ngIf="addDispatcherForm.controls['phNum'].errors">
                          <span *ngIf="addDispatcherForm.controls['phNum'].errors.required">
                           Phone Number is Required</span></mat-error>
                        <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                        <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput  maxlength="20" placeholder="Register Id" formControlName="disRegId" required>
                        <mat-hint align="end">{{addDispatcherForm.controls['disRegId'].value.length}} / 20</mat-hint>
                        <mat-error class="error-message" *ngIf="addDispatcherForm.controls['disRegId'].errors">
                          <span *ngIf="addDispatcherForm.controls['disRegId'].errors.required">
                           Dispatcher RegisterId is Required</span></mat-error>
                        <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                        <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput  maxlength="5" placeholder="Pincode" formControlName="pincode" required>
                        <mat-hint align="end">{{addDispatcherForm.controls['pincode'].value.length}} / 5</mat-hint>
                        <mat-error class="error-message" *ngIf="addDispatcherForm.controls['pincode'].errors">
                          <span *ngIf="addDispatcherForm.controls['pincode'].errors.required">
                           Pincode is Required</span></mat-error>
                        <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                        <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                        </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div class="col-sm-12 col-md-12">
                    <mat-form-field class="col-sm-12 col-md-6">
                        <input matInput  maxlength="256" placeholder="Address" formControlName="address" required>
                        <mat-hint align="end">{{addDispatcherForm.controls['address'].value.length}} / 256</mat-hint>
                        <mat-error class="error-message" *ngIf="addDispatcherForm.controls['address'].errors">
                          <span *ngIf="addDispatcherForm.controls['address'].errors.required">
                           Address is Required</span></mat-error>
                        <!-- <mat-error *ngFor="let validation of validation_messages.bio">
                        <mat-error class="error-message" *ngIf="userDetailsForm.get('bio').hasError(validation.type) && (userDetailsForm.get('bio').dirty || userDetailsForm.get('bio').touched)">{{validation.message}}</mat-error>
                        </mat-error> -->
                    </mat-form-field>
                  </div>

            </div>


          

        </form>


        </div>
<div mat-dialog-actions class="delete-dailog-actions">
  <div class="no-css">
      <button mat-raised-button mat-dialog-close>Cancel</button>
  </div>
  <div class="yes-css">
      <button mat-raised-button class="confirm-css" *ngIf="!isEdit" color="accent" (click)="saveDispatcher()">Submit</button>
      <button mat-raised-button class="confirm-css" *ngIf="isEdit" color="accent" (click)="updateDispatcher()">Update</button>
  </div>
</div>
</ng-template>