/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.conatiner-body{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    padding: 0 10px;
}

.confirm-css{
    background:rgb(218, 218, 32);
}

.mat-icon{
    cursor: pointer;
}


.delete-dailog-actions{
    float: right;
    .yes-css{
        .mat-mdc-raised-button:not(:disabled) {
            background-color: rgb(218, 218, 32);
        }
    }
    .no-css{
        margin-right:10px;
        .mat-mdc-raised-button:not(:disabled) {
            background-color: #ffff;
        }
    }
}

.cdk-global-overlay-wrapper {
    overflow: auto;
    pointer-events: auto;  
  }

