<div class="dispatcher-search-cars">
    <div class="dispatcher-hero-image">
         <app-hero-image [title]="title"></app-hero-image>
     </div>


     <div class="row">
        <div class="col-md-4">
          <mat-form-field class="select-input-field">
              <mat-select [(value)]="selectedDispatcher" placeholder="Dispatcher">
                <mat-option [value]="">None</mat-option>
                <mat-option *ngFor="let disp of dispatcherList" [value]="disp.id">{{disp.firstName}} {{disp.lastName}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6 buttons-list">
          <div class="row delete-dailog-actions">
          <div class="col-md-5 no-css">
              <button mat-raised-button (click)="clear()">Clear</button>
          </div>
          <div class="col-md-4 yes-css">
              <button mat-raised-button class="confirm-css" color="accent" (click)="searchCars()">Search</button>
          </div>
        </div>
        </div>
      </div>
  
      <div *ngIf="isSelectedDrivers">
        <div class="icon-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openaddCarFormDailog(addCarFormDailog)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
  
  
      <div id="driver-information"  class="dispatcher-drivers-custom-css"  >
        <app-dispatcher-cars [dispatcherId]="dispatcherIdForDrivers" *ngIf="isSelectedDrivers" [selectedDispatcherDetails]="selectedDriverDetails" [openDriverCars]="true" (openCarDailogEvent)="openCarDailog($event)" (openDeleteCarDailogEvent)="openDeleteCarDailog($event)"/>
    </div>
</div>     


<ng-template #addCarFormDailog>
    <h1 mat-dialog-title *ngIf="!addEditMode">Add Car </h1>
    <h1 mat-dialog-title *ngIf="addEditMode">Update Car </h1>
    <div mat-dialog-content>
        <form [formGroup]="addCarForm">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field >
                        <input matInput placeholder="Car Model" maxlength="50" formControlName="carModel" required>
                        <mat-hint align="end">{{addCarForm.controls['carModel'].value.length}} / 50</mat-hint>
                      
                      </mat-form-field>
                      <mat-error class="error-message" *ngIf="submitted && f.carModel.errors">
                        <span *ngIf="f.carModel.errors.required">
                           Car Model is Required
                        </span>
                      </mat-error>
                </div>
                <div class="col-md-6">
                    <mat-form-field >
                        <input matInput placeholder="Car Color" maxlength="50" formControlName="carColor" required>
                        <mat-hint align="end">{{addCarForm.controls['carColor'].value.length}} / 50</mat-hint>
                        
                      </mat-form-field>
                      <mat-error class="error-message" *ngIf="submitted && f.carColor.errors">
                        <span *ngIf="f.carColor.errors.required">
                          Car Color is Required
                        </span>
                      </mat-error>
                </div>
                <div class="col-md-6">
                    <mat-form-field >
                        <input matInput placeholder="Taxi Id" maxlength="50" formControlName="carRegisterId" required>
                        <mat-hint align="end">{{addCarForm.controls['carRegisterId'].value.length}} / 50</mat-hint>
                        
                      </mat-form-field>
                      <mat-error class="error-message" *ngIf="submitted && f.carRegisterId.errors">
                        <span *ngIf="f.carRegisterId.errors.required">
                           Taxi Id is Required
                        </span>
                        </mat-error>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="select-input-field">
                        <mat-select formControlName="carType" placeholder="Car Seating Type">
                          <mat-option [value]="">None</mat-option>
                          <mat-option *ngFor="let c of carComfortList" [value]="c.id">{{c.comfortLevel}} - {{c.seatCapacity}}</mat-option>
                        </mat-select>

                      </mat-form-field>
                      <mat-error class="error-message" *ngIf="submitted && f.carType.errors">
                        <span *ngIf="f.carType.errors.required">
                            Car Seating Type is Required
                        </span>
                        </mat-error>
                </div>
                

            </div>
            <div mat-dialog-actions class="delete-dailog-actions">
                <div class="no-css">
                    <button mat-raised-button (click)="closeDailog()">Cancel</button>
                </div>
                <div class="yes-css">
                    <button mat-raised-button class="confirm-css" *ngIf="!addEditMode" color="accent" (click)="addCarFormUnderDispatcher()">Submit</button>
                    <button mat-raised-button class="confirm-css" *ngIf="addEditMode" color="accent" (click)="updateDriverDetails()">Update</button>
               
               </div>
                
              </div>

        </form>
    </div>
</ng-template>


<ng-template #deleteCarFormDailog>
  <h1 mat-dialog-title>Delete Car </h1>
  <div class="delete-content">
  Are you sure want to delete the car <b>{{selectedCarForUpdate.carRegisterId}}</b>?.
  </div>
  <div mat-dialog-content>
          <div mat-dialog-actions class="delete-dailog-actions">
              <div class="no-css">
                  <button mat-raised-button (click)="closeDailog()">Cancel</button>
              </div>
              <div class="yes-css">
                  <button mat-raised-button class="confirm-css" color="accent" (click)="deleteCar()">Delete</button>
             
             </div>
              
            </div>

  </div>
</ng-template>